* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/chess.jpg);
  background-size: cover;
  background-position: center;
}

.gameBoard {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  border: 15px solid rgb(127, 86, 86);
  border-style: outset;
  width: 660px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}


.square>p {
  cursor: default;
}

.black {
  background-color: #444;
}

.red {
  background-color: rgb(133, 0, 0);
}